* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f5f5f5;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  color: #f57c00;
  padding: 24px;
}

.wrapper {
  background-color: #f57c00;
  width: 480px;
  margin: 80px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  color: white;
}

.login {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px 0;
}

.login-info {
  margin: 20px 0;
}

.login-info input {
  display: block;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 8px;
  margin: 20px 0;
}

.login-btn {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #ffad42;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  transition: all 200ms ease-in;
}

.login-btn:hover {
  background-color: white;
  color: #f57c00;
}

@media screen and (max-width: 48rem) {
  .header {
    font-size: 27px;
  }

  .wrapper {
    width: 80%;
  }
}
